<%- include('../partials/header') %>
<h2>Today is <%= date.toLocaleDateString() %></h2>

<form action="/todos" method="POST">
    <input type="hidden" name="date" value="<%= date %>">
    <label>Enter todo: 
        <input type="text" name="task">
    </label>
    <label>Category: 
        <select name="category">
            <% categories.forEach(category => { %>
                <option value="<%= category._id %>"><%= category.name %></option>              
            <% }) %>
        </select>
    </label>
    <button type="submit">ADD TODO</button>

</form>

<% if (todos.length) { %>
    <section>
        <% todos.forEach(todo => { %>
            <article>
                <p><%= todo.task %> (<%= todo.category?.name %>)</p>
            </article>  
        <% }) %>
    </section>

<% } else { %>
    <h3> No todos for this day! </h3>

<% } %>

<%- include('../partials/footer') %>