<%- include('../partials/header') %>

<header>
    <h1>Do one thing every day that scares you</h1>      
</header>

<h2> Edit Todo </h2>

<form action="/todos/<%= todo._id %>?_method=PUT" method="POST">
    <label>Todo: 
        <input type="text" name="task" value="<%= todo.task %>">
    </label>
    <label>Completed: 
        <input type="checkbox" name="completed" <%= todo.completed ? "checked" : "" %>>
    </label>
    <label>Category: 
        <select name="category">
            <% categories.forEach(category => { %>
                <option <%= category._id.equals(todo.category) ? "selected" : "" %> value="<%= category._id %>"><%= category.name %></option>              
            <% }) %>
        </select>
    </label>
    <button type="submit" class="save-todo">SAVE TODO</button>
</form>

<%- include('../partials/footer') %>